/* Media Querieds to devises with width : 1000px */
@media (max-width: 1000px) {
    footer .index__navbar {
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 22;
        font-family: candara;
    }
    footer .index__navbar a {
        color: black;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }
    /* header */
    header .start__project {
        margin: 8px auto 180px auto;
    }
    header .start__project li {
        font-size: 14px;
    }
    header .start__project li:nth-child(1) img {
        margin-top: -5px;
        width: 14px;
        height: 14px;
    }
    header .header__top .registration__date {
        font-size: 22px;
    }
    header .header__top svg {
        max-width: 800px;
        height: auto;
        width: 100%;
        z-index: 22;
    }
    /* section */
    section .section__start p:nth-child(1) {
        margin: 20px auto 50px auto;
    }
    section .get_in_touch-images {
        margin: 0 auto 100px auto;
    }
    
    section .get_in_touch-images div:nth-child(1) img {
        width: 500px;
        height: auto;
        z-index: 1;
    } 
    section .locate__main-links {
        margin-top: -32px;
    }
    section .get_in_touch-images div:nth-child(2) img {
        width: 350px;
        height: auto;
        position: absolute;
        right: 150px;
        bottom: 0px;
        z-index: 3;
    }
    /*  */
    section .get_in_touch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section .get_in_touch p {
        line-height: 80px;
    }    
    section .get_in_touch p:nth-child(1) {
        margin-left: 2rem;
        margin-top: 0px;
    }
    
    section .get_in_touch p:nth-child(2) {
        font-size: 50px;
        margin-left: 2rem;
    }
    
    section .get_in_touch p:nth-child(3) {
        font-size: 50px;
        line-height: 12px;
        margin-left: 2rem;
    }
    
    section .get_in_touch p:nth-child(4) {
        font-size: 50px;
        margin-left: 2rem;
    }
    
    section .get_in_touch p:nth-child(5) {
        font-size: 100px;
        line-height: 22px;
        margin-left: 0rem;
        margin: 20px auto;
    }
    /* footer  */
    footer .studio__links p:nth-child(2) {
        font-size: 70px;
    }
   /*  footer .studio__links p:nth-child(2)::after {
        content: '';
        display: block;
        width: 250px;
        height: 2px;
        background-color: #c19a5b;
        margin: 0px auto 0 auto;
    }
    footer .studio__links p:nth-child(2):hover::after {
        display: block;
        content: 'Atelier';
        font-size: 40px;
        letter-spacing: 0px;
        background-color: transparent;
    }
} */
/* Media Querieds to devises with width : 900px */
@media (max-width: 900px) {
    /* footer */
    footer .footer__part li, footer .footer__navbar li a {
      font-size: 14px;
    }
    footer img {
        width: 12px;
        height: 12px;
    }
}
/* Media Querieds to devises with width : 800px */
@media (max-width: 800px) {
    /* header */
    header .start__project li {
        font-size: 12px;
    }
    header .start__project li:nth-child(1) img {
        margin-top: -3px;
        width: 12px;
        height: 12px;
    }
    /* section */
    section .section__start p:nth-child(1) {
        margin: 0px auto 20px auto;
    }
    /* footer */
    footer .footer__navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -36px;
        padding-bottom: 120px;
    }
    footer .footer__navbar li {
        margin-left: 12px;
    }
    /* fixed elements */
    .index__navbar {
        position: fixed;
        bottom: 50px;
        right: 30px;
        display: flex;
        flex-direction: column;
        z-index: 22;
    }
    
    .index__navbar a {
        color: black;
        display: block;
        line-height: 19px;
        font-size: 14px;
    }
    .index__navbar span {
        position: relative;
    }
    
    .index__navbar span i.fa {
        font-size: 18px;
        color: #c19a5b;
        position: absolute;
        right: 5px;
        top: -1px;
    }
}
/* Media Querieds to devises with width : 700px */
@media (max-width: 700px) {
    header img.logo__header {
        position: fixed;
        top: 6px;
        left: 30px;
        width: 40px;
        height: auto;
        z-index: 100;
    }
    .index__navbar {
        position: fixed;
        bottom: 10px;
        right: 15px;
        display: flex;
        flex-direction: column;
        z-index: 22;
        font-family: candara;
    }

    /*  */
    header .header__top-hero {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
    }
    header .header__top .header__top-hero .hero-image:nth-child(1) {
        position: static;
        max-width: 100%;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(2) {
        max-width: 100%;
        position: static;
        margin-top: 0px;
        margin-left: 17px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(3) {
        position: static;
        max-width: 100%;
        margin-top: 22px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(4) {
        position: static;
        max-width: 100%;
        margin-top: 22px;
        margin-left: 15px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(1) img {
        width: 300px;
        height: 400px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(2) img {
        width: 300px;
        height: 400px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(3) img {
        width: 300px;
        height: 400px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(4) img {
        width: 300px;
        height: 400px;
    }
    /* section */
    section .section__start p:nth-child(1) {
        margin: 200px auto 20px auto;
    }    
    section .get_in_touch-images div:nth-child(1) img {
        width: 500px;
        height: auto;
        z-index: 1;
    }
    section .get_in_touch-images div:nth-child(2) img {
        position: absolute;
        right: 50px;
        bottom: -20px;
        z-index: 3;
    }
    /* footer */
    footer .footer__part li, footer .footer__navbar li a {
        font-size: 12px;
      }
}
/* Media Querieds to devises with width : 620px */
@media (max-width: 620px) {
    header .start__project li {
        font-size: 12px;
        text-align: justify;
        margin: 0 auto;
        line-height: 22px;
        max-width: 280px!important;
    }
    header .start__project li:nth-child(1) img {
        /* margin-top: -6px; */
        margin: -3px 2px 0 5px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(1) {
        position: static;
        max-width: 100%;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(2) {
        max-width: 100%;
        position: static;
        margin-top: 0px;
        margin-left: 0px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(3) {
        position: static;
        max-width: 100%;
        margin-top: 22px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(4) {
        position: static;
        max-width: 100%;
        margin-top: 22px;
        margin-left: 5px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(1) img {
        width: 300px;
        height: 400px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(2) img {
        width: 300px;
        height: 400px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(3) img {
        width: 300px;
        height: 400px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(4) img {
        width: 300px;
        height: 400px;
    }   
    /* section */
    section .section__start p:nth-child(2) {
        font-size: 40px;
        color: black;
        opacity: 1;
        margin: 0px auto;
        text-align: center;
        font-weight: 700;
        max-width: 400px!important;
        line-height: 50px!important;
    }
    section .section__start p:nth-child(4) {
        font-size: 17px;
        color: rgb(59, 56, 56);
        line-height: 34px;
        margin: 0px auto 100px auto;
        text-align: center;
        font-weight: 500;
        max-width: 500px;
    }
}
/* Media Querieds to devises with width : 604px */
@media (max-width: 604px) {
    header .header__top .header__top-hero .hero-image:nth-child(2) {
        max-width: 100%;
        position: static;
        margin-top: 22px;
        margin-left: 0px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(3) {
        position: static;
        max-width: 100%;
        margin-top: 22px;
    }
    
    header .header__top .header__top-hero .hero-image:nth-child(4) {
        position: static;
        max-width: 100%;
        margin-top: 22px;
        margin-left: 5px;
    }
    section .navbar__section {
        display: flex;
        flex-direction: column;
    }
    section .navbar__section li:nth-child(2) {
        margin-top: 22px;
    }
    section .navbar__section .media {
        width: 40px;
        height: 40px;
    }
    section .navbar__section li {
        line-height: 30px;
    }
    section .navbar__section li:nth-child(2) {
        margin-top: -2px;
    }
    section .full-hd__hotel-images__1 div img, section .full-hd__hotel-images__2 div img, section .full-hd__hotel-images__3 img {
        width: 300px;
        height: auto;
    }
    section .get_in_touch-images {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section .get_in_touch-images div:nth-child(1) img {
        width: 340px;
        height: auto;
    }
    section .get_in_touch-images div:nth-child(2) img {
        width: 340px;
        height: auto;
        margin-top: 40px;
        position: static;
    }
    section .get_in_touch p:nth-child(1) {
        margin-top: 100px!important;
    }
}
/* Media Querieds to devises with width : 500px */
@media (max-width: 500px) {
    header .start__project li {
        font-size: 11px;
        text-align: center;
        margin: 0 auto;
        line-height: 22px;
        max-width: 250px;
    }   
    section .get_in_touch-images div:nth-child(1) img {
        width: 500px;
        max-width: 100%;
        height: auto;
        z-index: 1;
    }
    section .get_in_touch-images div:nth-child(2) img {
        position: absolute;
        right: 80%;
        left: 20%;
        bottom: -10px;
        z-index: 3;
    }
    section .inspired__texts p {
        line-height: 22px;
    }
    /* footer */
    footer .footer__part li {
        text-align: justify;
        margin: auto;
        max-width: 300px;
        line-height: 20px;
    }    
    footer .footer__navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;
        flex-direction: column;
        max-width: 500px;
        text-align: center;
        margin-left: 12px;
        margin-top: 22px;
        padding-bottom: 120px;
    }
    footer .footer__navbar li a {
        font-size: 13px;
        line-height: 22px;        
    }
}
@media (max-width: 430px) {
    header .start__project li {
        font-size: 11px;
        margin: 0 auto;
        line-height: 22px;
        max-width: 200px;
    }
    section .get_in_touch p:nth-child(5) {
        font-size: 80px;
        margin-top: -10px;
    }
    section .get_in_touch-images div:nth-child(2) img {
        position: absolute;
        right: 99%;
        left: 1%;
        bottom: -10px;
        z-index: 3;
    }

    footer .footer__part li{
        text-align: center;
    }
}
}
